# Sql in Python
___
Author: Kamil Pazik

email: pazik.kamil@gmail.com

phone: +48 721 114 737

## TOC
1. [Refresher of OOP](#Refresher-oop)
2. [Ways of connecting Python with databases](#Ways-of-connecting-Python-with-databases)
3. [Installing prerequisites](#Installing-prerequisites)
4. [Direct connect](#Direct-connect)
5. [Orm](#Orm)
6. [Data models](#Data-models)
  1. [Exercises](#Data-models-exercises)
7. [Quering and data manipulations](#Quering-and-data-manipulations)
8. [Simple exploratory data analysis](#Simple-exploratory-data-analysis)

### Refresher-oop

* What is class ? why we need oop ?
* What is instance/object ?
* What are methods / attributes / properties ?
* What are staticmethod / classmethod ?

### Ways of connecting Python with databases
* Directly using specific libs [sqlite](https://docs.python.org/3/library/sqlite3.html), [psycopg2](http://initd.org/psycopg/docs/)
* Using ORM like [sqllachemy](https://www.sqlalchemy.org/)
* Using pandas

### Installing prerequisites

* Database tool - [Dbeaver](https://dbeaver.io/)
  ```
  # install in bash using proper name instead of *
  dpkg -i *.deb
  ```
* Sqlalchemy with pyscopg2
  ```bash
  conda install sqlalchemy
  conda install psycopg2
  ```
  or from jupyter-notebook
  ```python
  !pip install psycopg2
  ```
* Installation of postgres (your linux machine)
  ```bash
  sudo apt-get update
  sudo apt-get install postgresql postgresql-contrib
  ```
  after installation
  ```bash
  su - postgres
  psql -d template1 -c "ALTER USER postgres WITH PASSWORD 'postgres';"
  ```

### Direct connect

In [2]:
import psycopg2

conn = psycopg2.connect("host=127.0.0.1 port=5432 dbname=postgres user=postgres password=postgres")
cur = conn.cursor()

cur.execute("SELECT * FROM user")
cur.fetchall()

[('postgres',)]

cur.fetchall()

In [19]:
#cur.execute("DROP TABLE test2;")
cur.execute("CREATE TABLE test35 (id serial PRIMARY KEY, num integer, data varchar);")

In [21]:
cur.execute("DROP TABLE test23;")

In [37]:
conn.commit()

In [23]:
cur.execute("CREATE TABLE test30 (id serial PRIMARY KEY, num integer, data varchar);")

In [24]:
# cofa wykonanie komendy
conn.rollback()

In [31]:
cur.execute("INSERT INTO test35(num, data) values(1, 'test data');")
conn.commit()

In [40]:
cur.execute("SELECT * FROM test35")
cur.fetchall()
#lista z tuplami

[(1, 1, 'test data'), (2, 1, 'test data')]

In [41]:
cur.execute("SELECT * FROM test35")
#lista z tuplami
z=cur.fetchall()
z[0][2]

'test data'

In [35]:
# if something is wrong we can use 
# conn.rollback()

In [36]:
cur.execute("SELECT * FROM test35")
cur.fetchall()

[]

In [42]:
cur.close()
conn.close()

### Orm
* Object relational mapping,
* Maps data between systems (Python classes to database tables)

In [47]:
from sqlalchemy import create_engine
#engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/postgres')

#engine_memory = create_engine('sqlite:///:memory:', echo=False)

engine_file = create_engine('sqlite:///test.sqlite', echo=True)
#you can check the file !strings test.sqlite

### Data models

In [48]:
# Important imports
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [50]:
# Important declaration

Base = declarative_base()
Session = sessionmaker(bind=engine_file)

session = Session()

In [53]:
# creation of class
class Car(Base):
    __tablename__ = 'cars'
    
    id = Column(Integer, primary_key=True)
    brand = Column(String(20), nullable=False) # Specify max length of varchar
    model = Column(String)
    color = Column(String)
    def __repr__(self): 
        return "{class_desc} object with id: {id}, brand: {brand}, model: {model}, color: {color}".format(
            class_desc=self.__class__,
            id=self.id,
            brand=self.brand,
            model=self.model,
            color=self.color
        )

/home/tomeker/anaconda3/lib/python3.7/site-packages/sqlalchemy/ext/declarative/clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Car, and will be replaced in the string-lookup table.
  item.__name__

InvalidRequestError: Table 'cars' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [54]:
# creates everything what was launched to create
Base.metadata.create_all(engine_file)

2018-10-28 14:47:10,496 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-10-28 14:47:10,496 INFO sqlalchemy.engine.base.Engine ()
2018-10-28 14:47:10,498 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-10-28 14:47:10,498 INFO sqlalchemy.engine.base.Engine ()
2018-10-28 14:47:10,500 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("cars")
2018-10-28 14:47:10,501 INFO sqlalchemy.engine.base.Engine ()
2018-10-28 14:47:10,503 INFO sqlalchemy.engine.base.Engine
CREATE TABLE cars (
	id INTEGER NOT NULL,
	brand VARCHAR(20) NOT NULL,
	model VARCHAR,
	color VARCHAR,
	PRIMARY KEY (id)
)


2018-10-28 14:47:10,505 INFO sqlalchemy.engine.base.Engine ()
2018-10-28 14:47:10,512 INFO sqlalchemy.engine.base.Engine COMMIT

### Data models exercises

* Create table car,
* Put "power", "engine volume", "brand", "model"
* Verify table in Sql (dBeaver)

### Quering and data manipulations

* Selectin all rows

In [55]:
session.query(Car).all()

2018-10-28 15:25:10,228 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-10-28 15:25:10,230 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
2018-10-28 15:25:10,231 INFO sqlalchemy.engine.base.Engine ()

[]

* Creating new objects and adding to database

In [62]:
mazda = Car(brand='mazda', model='6', color='red')
mondeo = Car(brand='ford', model='mondeo', color='blue')

In [63]:
session.add_all([mazda, mondeo])

In [64]:
mazda.color = 'blue'

In [65]:
session.dirty

IdentitySet([])

In [66]:
session.commit()

2018-10-28 15:37:00,588 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-10-28 15:37:00,589 INFO sqlalchemy.engine.base.Engine INSERT INTO cars (brand, model, color) VALUES (?, ?, ?)
2018-10-28 15:37:00,593 INFO sqlalchemy.engine.base.Engine ('mazda', '6', 'blue')
2018-10-28 15:37:00,595 INFO sqlalchemy.engine.base.Engine INSERT INTO cars (brand, model, color) VALUES (?, ?, ?)
2018-10-28 15:37:00,597 INFO sqlalchemy.engine.base.Engine ('ford', 'mondeo', 'blue')
2018-10-28 15:37:00,598 INFO sqlalchemy.engine.base.Engine COMMIT

* Checking status of rows

In [67]:
session.new

IdentitySet([])

In [68]:
session.deleted

IdentitySet([])

In [69]:
test = Car(brand='test', model='6', color='red')

In [70]:
test in session

False

In [71]:
session.add(test)
test in session

True

In [72]:
session.commit()

2018-10-28 15:37:41,072 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-10-28 15:37:41,076 INFO sqlalchemy.engine.base.Engine INSERT INTO cars (brand, model, color) VALUES (?, ?, ?)
2018-10-28 15:37:41,077 INFO sqlalchemy.engine.base.Engine ('test', '6', 'red')
2018-10-28 15:37:41,079 INFO sqlalchemy.engine.base.Engine COMMIT

In [73]:
test in session

True

In [74]:
test.model = 'nowy2'

In [77]:
mazda.model='niemazda'

In [75]:
test in session

True

In [78]:
mazda in session

True

In [79]:
session.query(Car).all()

2018-10-28 15:42:53,258 INFO sqlalchemy.engine.base.Engine UPDATE cars SET model=? WHERE cars.id = ?
2018-10-28 15:42:53,259 INFO sqlalchemy.engine.base.Engine ('niemazda', 3)
2018-10-28 15:42:53,260 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
2018-10-28 15:42:53,260 INFO sqlalchemy.engine.base.Engine ()

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue,
 <class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue,
 <class '__main__.Car'> object with id: 3, brand: mazda, model: niemazda, color: blue,
 <class '__main__.Car'> object with id: 4, brand: ford, model: mondeo, color: blue,
 <class '__main__.Car'> object with id: 5, brand: test, model: nowy2, color: red]

In [26]:
session.rollback()

In [80]:
session.query(Car).order_by(Car.brand).all()

2018-10-28 15:44:38,650 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars ORDER BY cars.brand
2018-10-28 15:44:38,651 INFO sqlalchemy.engine.base.Engine ()

[<class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue,
 <class '__main__.Car'> object with id: 4, brand: ford, model: mondeo, color: blue,
 <class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue,
 <class '__main__.Car'> object with id: 3, brand: mazda, model: niemazda, color: blue,
 <class '__main__.Car'> object with id: 5, brand: test, model: nowy2, color: red]

In [87]:
downloaded_cars=session.query(Car).order_by(Car.brand).all()

2018-10-28 15:50:15,556 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars ORDER BY cars.brand
2018-10-28 15:50:15,560 INFO sqlalchemy.engine.base.Engine ()

In [85]:
downloaded_cars=session.query(Car).order_by(Car.brand).all()[:2]

2018-10-28 15:48:07,756 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars ORDER BY cars.brand
2018-10-28 15:48:07,757 INFO sqlalchemy.engine.base.Engine ()

In [83]:
downloaded_cars[0].brand

'ford'

In [84]:
session.query(Car).filter(Car.brand.in_(['ford', 'mazda'])).all()

2018-10-28 15:46:40,786 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE cars.brand IN (?, ?)
2018-10-28 15:46:40,787 INFO sqlalchemy.engine.base.Engine ('ford', 'mazda')

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue,
 <class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue,
 <class '__main__.Car'> object with id: 3, brand: mazda, model: niemazda, color: blue,
 <class '__main__.Car'> object with id: 4, brand: ford, model: mondeo, color: blue]

#### sorting

In [88]:
from sqlalchemy import desc, asc

session.query(Car).order_by(desc(Car.id)).all()

2018-10-28 15:50:25,663 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars ORDER BY cars.id DESC
2018-10-28 15:50:25,664 INFO sqlalchemy.engine.base.Engine ()

[<class '__main__.Car'> object with id: 5, brand: test, model: nowy2, color: red,
 <class '__main__.Car'> object with id: 4, brand: ford, model: mondeo, color: blue,
 <class '__main__.Car'> object with id: 3, brand: mazda, model: niemazda, color: blue,
 <class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue,
 <class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue]

In [89]:
session.query(Car).filter(Car.brand==('ford')).order_by(desc(Car.id)).all()

2018-10-28 15:52:50,869 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE cars.brand = ? ORDER BY cars.id DESC
2018-10-28 15:52:50,870 INFO sqlalchemy.engine.base.Engine ('ford',)

[<class '__main__.Car'> object with id: 4, brand: ford, model: mondeo, color: blue,
 <class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue]

In [94]:
session.query(Car).filter(Car.brand==('ford')).filter((Car.color!='red')).all()

2018-10-28 16:00:23,607 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE cars.brand = ? AND cars.color != ?
2018-10-28 16:00:23,607 INFO sqlalchemy.engine.base.Engine ('Ford', 'red')

[]

In [31]:
for car in session.query(Car).order_by(desc(Car.id))[1:3]:
    print(car)

<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue

#### filtering

In [96]:
session.query(Car).filter(Car.brand=='Mazda').filter(Car.color!='red').all()

2018-10-28 16:01:44,735 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE cars.brand = ? AND cars.color != ?
2018-10-28 16:01:44,736 INFO sqlalchemy.engine.base.Engine ('Mazda', 'red')

[]

In [97]:
session.query(Car).filter(Car.brand.ilike('%m%')).all()

2018-10-28 16:01:55,886 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE lower(cars.brand) LIKE lower(?)
2018-10-28 16:01:55,887 INFO sqlalchemy.engine.base.Engine ('%m%',)

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue,
 <class '__main__.Car'> object with id: 3, brand: mazda, model: niemazda, color: blue]

In [98]:
session.query(Car).filter(Car.brand.ilike('a%')).all()

2018-10-28 16:02:53,297 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE lower(cars.brand) LIKE lower(?)
2018-10-28 16:02:53,299 INFO sqlalchemy.engine.base.Engine ('a%',)

[]

In [99]:
session.query(Car).filter(Car.brand.ilike('f%')).all()

2018-10-28 16:03:14,527 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE lower(cars.brand) LIKE lower(?)
2018-10-28 16:03:14,531 INFO sqlalchemy.engine.base.Engine ('f%',)

[<class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue,
 <class '__main__.Car'> object with id: 4, brand: ford, model: mondeo, color: blue]

In [101]:
session.query(Car).filter(Car.brand.ilike('%T')).all()

2018-10-28 16:03:57,829 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE lower(cars.brand) LIKE lower(?)
2018-10-28 16:03:57,832 INFO sqlalchemy.engine.base.Engine ('%T',)

[<class '__main__.Car'> object with id: 5, brand: test, model: nowy2, color: red]

In [102]:
session.query(Car).filter(Car.brand.like('%T')).all()

2018-10-28 16:04:25,829 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE cars.brand LIKE ?
2018-10-28 16:04:25,832 INFO sqlalchemy.engine.base.Engine ('%T',)

[<class '__main__.Car'> object with id: 5, brand: test, model: nowy2, color: red]

In [34]:
session.query(Car).filter(Car.brand.like('%m%')).all()

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue]

#### Logic operations

* and

In [35]:
from sqlalchemy import and_
from sqlalchemy import or_

In [36]:
session.query(Car).filter(or_(Car.model=='6', Car.brand=='mazda', Car.color=='red'))

In [46]:
import sqlalchemy
q = session.query(Car).from_statement(
    sqlalchemy.text("SELECT * FROM cars WHERE brand=:brand_param")).params(brand_param = "mazda")
print(q.first())

<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue

### Simple exploratory analysis

In [191]:
session.query(Car).filter(Car.brand=='mazda').count()

2018-10-28 04:12:58,933 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE cars.brand = ?) AS anon_1
2018-10-28 04:12:58,935 INFO sqlalchemy.engine.base.Engine ('mazda',)

1

In [5]:
from sqlalchemy import Column, Integer, String, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

In [69]:
class ParkingLot(Base):
    __tablename__ = 'parking_lots'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    parking_adress = Column(String, nullable=False)
    cars = relationship('Car', back_populates='parking')

    def __repr__(self):
        return "<Address(parking_adress='%s')>" % self.parking_adress

/Users/kamil/anaconda3/lib/python3.7/site-packages/sqlalchemy/ext/declarative/clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.ParkingLot, and will be replaced in the string-lookup table.
  item.__name__

In [ ]:
class Parent(Base):
    __tablename__ = 'parent'
    id = Column(Integer, primary_key=True)
    children = relationship("Child")

class Child(Base):
    __tablename__ = 'child'
    id = Column(Integer, primary_key=True)
    parent_id = Column(Integer, ForeignKey('parent.id'))

In [ ]:
class Parent(Base):
    __tablename__ = 'parent'
    id = Column(Integer, primary_key=True)
    children = relationship("Child", back_populates="parent")

class Child(Base):
    __tablename__ = 'child'
    id = Column(Integer, primary_key=True)
    parent_id = Column(Integer, ForeignKey('parent.id'))
    parent = relationship("Parent", back_populates="children")

In [6]:
class ParkingLot1(Base):
    __tablename__ = 'parkinglot1'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    address = Column(String)
    cars = relationship("Car1", back_populates="parking_lot1")

class Car1(Base):
    __tablename__ = 'car1'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    brand = Column(String)
    model = Column(String)
    color = Column(String)
    parking_lot_id = Column(Integer, ForeignKey('parkinglot1.id'))
    parking_lot1 = relationship("ParkingLot1", back_populates="cars")

In [7]:
Base.metadata.create_all(engine_memory)

In [8]:
parking = ParkingLot1(address='Nowogrodzka 62')

In [9]:
parking.address

'Nowogrodzka 62'

In [10]:
parking.cars

[]

In [11]:
car = Car1(brand='audi', model='80', color='red', parking_lot1=parking)

In [12]:
session.add_all([parking, car])

In [14]:
car.parking_lot_id

In [ ]:
session.query(Car).all()