# Sql in Python
___
Author: Kamil Pazik

email: pazik.kamil@gmail.com

phone: +48 721 114 737

## TOC
1. [Refresher of OOP](#Refresher-oop)
2. [Ways of connecting Python with databases](#Ways-of-connecting-Python-with-databases)
3. [Installing prerequisites](#Installing-prerequisites)
4. [Direct connect](#Direct-connect)
5. [Orm](#Orm)
6. [Data models](#Data-models)
  1. [Exercises](#Data-models-exercises)
7. [Quering and data manipulations](#Quering-and-data-manipulations)
8. [Simple exploratory data analysis](#Simple-exploratory-data-analysis)

### Refresher-oop

* What is class ? why we need oop ?
* What is instance/object ?
* What are methods / attributes / properties ?
* What are staticmethod / classmethod ?

### Ways of connecting Python with databases
* Directly using specific libs [sqlite](https://docs.python.org/3/library/sqlite3.html), [psycopg2](http://initd.org/psycopg/docs/)
* Using ORM like [sqllachemy](https://www.sqlalchemy.org/)
* Using pandas

### Installing prerequisites

* Database tool - [Dbeaver](https://dbeaver.io/)
  ```
  # install in bash using proper name instead of *
  dpkg -i *.deb
  ```
* Sqlalchemy with pyscopg2
  ```bash
  conda install sqlalchemy
  conda install psycopg2
  ```
  or from jupyter-notebook
  ```python
  !pip install psycopg2
  ```
* Installation of postgres (your linux machine)
  ```bash
  sudo apt-get update
  sudo apt-get install postgresql postgresql-contrib
  ```
  after installation
  ```bash
  su - postgres
  psql -d template1 -c "ALTER USER postgres WITH PASSWORD 'postgres';"
  ```

### Direct connect

In [29]:
import psycopg2

conn = psycopg2.connect("host=127.0.0.1 port=5432 dbname=postgres user=postgres password=postgres")
cur = conn.cursor()

cur.execute("SELECT * FROM user")
cur.fetchall()

[('postgres',)]

In [44]:
cur.execute("CREATE TABLE test (id serial PRIMARY KEY, num integer, data varchar);")

In [45]:
conn.commit()

In [25]:
cur.execute("INSERT INTO test(num, data) values(1, 'test data');")

In [46]:
cur.execute("SELECT * FROM test")
cur.fetchall()

[]

In [35]:
# if something is wrong we can use 
# conn.rollback()

In [36]:
cur.execute("SELECT * FROM test")
cur.fetchall()

[]

In [28]:
cur.close()
conn.close()

### Orm
* Object relational mapping,
* Maps data between systems (Python classes to database tables)

In [1]:
from sqlalchemy import create_engine
#engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/postgres')

engine_memory = create_engine('sqlite:///:memory:', echo=False)

#engine_file = create_engine('sqlite:///test.sqlite', echo=True)
#you can check the file !strings test.sqlite

### Data models

In [2]:
# Important imports
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [3]:
# Important declaration

Base = declarative_base()
Session = sessionmaker(bind=engine_memory)

session = Session()

In [10]:
# creation of class
class Car(Base):
    __tablename__ = 'cars'
    id = Column(Integer, primary_key=True)
    brand = Column(String(20), nullable=False) # Specify max length of varchar
    model = Column(String)
    color = Column(String)
    def __repr__(self): 
        return "{class_desc} object with id: {id}, brand: {brand}, model: {model}, color: {color}".format(
            class_desc=self.__class__,
            id=self.id,
            brand=self.brand,
            model=self.model,
            color=self.color
        )

In [11]:
# creates everything what was launched to create
Base.metadata.create_all(engine_memory)

### Data models exercises

* Create table car,
* Put "power", "engine volume", "brand", "model"
* Verify table in Sql (dBeaver)

### Quering and data manipulations

* Selectin all rows

In [12]:
session.query(Car).all()

[]

* Creating new objects and adding to database

In [13]:
mazda = Car(brand='mazda', model='6', color='red')
mondeo = Car(brand='ford', model='mondeo', color='blue')

In [14]:
session.add_all([mazda, mondeo])

In [15]:
mazda.color = 'blue'

In [16]:
session.dirty

IdentitySet([])

In [17]:
session.commit()

* Checking status of rows

In [18]:
session.new

IdentitySet([])

In [19]:
session.deleted

IdentitySet([])

In [20]:
test = Car(brand='test', model='6', color='red')

In [21]:
test in session

False

In [22]:
session.add(test)
test in session

True

In [150]:
session.commit()

2018-10-28 03:36:57,243 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-10-28 03:36:57,273 INFO sqlalchemy.engine.base.Engine INSERT INTO cars (brand, model, color) VALUES (?, ?, ?)
2018-10-28 03:36:57,277 INFO sqlalchemy.engine.base.Engine ('test', '6', 'red')
2018-10-28 03:36:57,283 INFO sqlalchemy.engine.base.Engine COMMIT

In [151]:
test in session

True

In [23]:
test.model = 'nowy2'

In [24]:
test in session

True

In [27]:
session.query(Car).all()

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue,
 <class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue]

In [26]:
session.rollback()

In [28]:
session.query(Car).order_by(Car.brand).all()

[<class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue,
 <class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue]

In [29]:
session.query(Car).filter(Car.brand.in_(['ford', 'mazda'])).all()

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue,
 <class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue]

#### sorting

In [30]:
from sqlalchemy import desc, asc

session.query(Car).order_by(desc(Car.id)).all()

[<class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue,
 <class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue]

In [31]:
for car in session.query(Car).order_by(desc(Car.id))[1:3]:
    print(car)

<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue

#### filtering

In [32]:
session.query(Car).filter(Car.brand=='mazda').filter(Car.color!='red').all()

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue]

In [33]:
session.query(Car).filter(Car.brand.ilike('%m%')).all()

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue]

In [34]:
session.query(Car).filter(Car.brand.like('%m%')).all()

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue]

#### Logic operations

* and

In [35]:
from sqlalchemy import and_
from sqlalchemy import or_

In [36]:
session.query(Car).filter(or_(Car.model=='6', Car.brand=='mazda', Car.color=='red'))

In [46]:
import sqlalchemy
q = session.query(Car).from_statement(
    sqlalchemy.text("SELECT * FROM cars WHERE brand=:brand_param")).params(brand_param = "mazda")
print(q.first())

<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: blue

### Simple exploratory analysis

In [191]:
session.query(Car).filter(Car.brand=='mazda').count()

2018-10-28 04:12:58,933 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE cars.brand = ?) AS anon_1
2018-10-28 04:12:58,935 INFO sqlalchemy.engine.base.Engine ('mazda',)

1

In [5]:
from sqlalchemy import Column, Integer, String, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

In [69]:
class ParkingLot(Base):
    __tablename__ = 'parking_lots'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    parking_adress = Column(String, nullable=False)
    cars = relationship('Car', back_populates='parking')

    def __repr__(self):
        return "<Address(parking_adress='%s')>" % self.parking_adress

/Users/kamil/anaconda3/lib/python3.7/site-packages/sqlalchemy/ext/declarative/clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.ParkingLot, and will be replaced in the string-lookup table.
  item.__name__

In [ ]:
class Parent(Base):
    __tablename__ = 'parent'
    id = Column(Integer, primary_key=True)
    children = relationship("Child")

class Child(Base):
    __tablename__ = 'child'
    id = Column(Integer, primary_key=True)
    parent_id = Column(Integer, ForeignKey('parent.id'))

In [ ]:
class Parent(Base):
    __tablename__ = 'parent'
    id = Column(Integer, primary_key=True)
    children = relationship("Child", back_populates="parent")

class Child(Base):
    __tablename__ = 'child'
    id = Column(Integer, primary_key=True)
    parent_id = Column(Integer, ForeignKey('parent.id'))
    parent = relationship("Parent", back_populates="children")

In [6]:
class ParkingLot1(Base):
    __tablename__ = 'parkinglot1'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    address = Column(String)
    cars = relationship("Car1", back_populates="parking_lot1")

class Car1(Base):
    __tablename__ = 'car1'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    brand = Column(String)
    model = Column(String)
    color = Column(String)
    parking_lot_id = Column(Integer, ForeignKey('parkinglot1.id'))
    parking_lot1 = relationship("ParkingLot1", back_populates="cars")

In [7]:
Base.metadata.create_all(engine_memory)

In [8]:
parking = ParkingLot1(address='Nowogrodzka 62')

In [9]:
parking.address

'Nowogrodzka 62'

In [10]:
parking.cars

[]

In [11]:
car = Car1(brand='audi', model='80', color='red', parking_lot1=parking)

In [12]:
session.add_all([parking, car])

In [14]:
car.parking_lot_id

In [ ]:
session.query(Car).all()